force-app/main/default/flows/ApprovalScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Approval_Outputs</name>
        <label>Approval Outputs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ApprovalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEV2_Even_More_Special_Approval</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approved_with_lower_Amount</name>
        <choiceText>Approved with lower Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved with lower Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>ApprovalScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApprovalScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Approval_Form</name>
        <label>Approval Form</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Outputs</targetReference>
        </connector>
        <fields>
            <name>Approval_Status</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <choiceReferences>Approved_with_lower_Amount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approved_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Approved Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DEV2_Even_More_Special_Approval</name>
        <label>DEV2 Even More Special Approval</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approval_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
